{
	"extends": "stylelint-config-sass-guidelines",
	"plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
		"order/properties-alphabetical-order": true,
		"max-nesting-depth": 8,
		"selector-max-compound-selectors": 8,
    "indentation": "tab",
		"selector-class-pattern": null,
		"scss/at-extend-no-missing-placeholder": null,
		"selector-no-qualifying-type": [
			true,
			{
				"ignore": [
					"class",
					"attribute"
				]
			}
		],
		"selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": [
					"ng-deep"
				]
			}
		]
	}
}
