@import 'mixins/common.mixin';

:host {
	--height-search: 2rem;
	--height-picker: '0rem';
	--height-pagination: '0rem';

	.container-filters {
		@include flex-centered();
		justify-content: space-between;
	}

	.search {
		margin-right: var(--margin);
		width: 20rem;
	}

	.example-container {
		display: flex;
		flex-direction: column;
		max-height: calc(100% - var(--height-search) - var(--height-picker) - var(--height-pagination) - 2*var(--padding-l));
		min-width: 300px;
		overflow: auto;

		&.width-title {
			height: calc(100% - 1.5rem);
		}
	}

	.example-header {
		min-height: 64px;
		padding: 8px 24px 0;
	}

	.title {
		text-align: center;
	}

	.mat-form-field {
		font-size: 14px;
		width: 100%;
	}

	.mat-mdc-table {
		height: 100%;
	}

	.mat-mdc-row .mat-mdc-cell {
		cursor: pointer;
	}

	.mat-mdc-row:hover .mat-mdc-cell {
		background-color: var(--content-secondary);
		border-bottom: 1px solid var(--content-primary);
		border-color: currentColor;
		color: var(--white);
	}

	.mat-mdc-header-cell  {
		color: var(--content-secondary);
		font-weight: 500;
	}
}
