<ng-container *ngIf="loadingStatus?.loaded; else loader">
	<div class="container-filters" [class.disabled]="!dataSource.data.length">
		<app-search
			class="search"
			*ngIf="isFilter"
			(valueChange)="applyFilter($event)"
		></app-search>
		<app-picker-date-range
			*ngIf="isDatePicker"
			[disable]="!dataSource.data.length"
			(dateChange)="changedDate($event)"
		></app-picker-date-range>
	</div>
	<div
		class="example-container mat-elevation-z8"
		[ngClass]="{'width-filter': isFilter, 'width-title': title}"
		[style.--height-pagination]="isPagination ? '3.5rem' : '0rem'"
		[style.--height-picker]="isDatePicker ? '2rem' : '0rem'"
	>
		<mat-table [dataSource]="dataSource" matSort class="full-width-table">
			<ng-container *ngIf="columnsConfig.length">
				<ng-container [matColumnDef]="column.property" *ngFor="let column of columnsConfig">
					<mat-header-cell
						*matHeaderCellDef
						mat-sort-header
						[disabled]="!column.sortable"
						>{{ column.title }}</mat-header-cell
					>
					<ng-container [ngSwitch]="column.type">
						<ng-container *ngSwitchCase="ColumnsTypes.Button">
							<mat-cell *matCellDef="let row">
								<button
									mat-raised-button
									color="primary"
									(click)="clickButton($event, column, row)"
								>
									{{ column.title }}
								</button>
							</mat-cell>
						</ng-container>
						<ng-container *ngSwitchCase="ColumnsTypes.ButtonIcon">
							<mat-cell
								*matCellDef="let row"
								(click)="clickButton($event, column, row)"
							>
								<mat-icon>{{ column.icon }}</mat-icon>
							</mat-cell>
						</ng-container>

						<ng-container *ngSwitchDefault>
							<mat-cell *matCellDef="let row">
								{{
									column.customFormatter
										? column.customFormatter(row[column.property])
										: row[column.property]
								}}
							</mat-cell>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
			<ng-container matColumnDef="noData">
				<mat-footer-cell *matFooterCellDef
					><app-no-data [size]="'xs'"></app-no-data
				></mat-footer-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row
				*matRowDef="let row; columns: displayedColumns"
				(click)="clickByRow($event, row)"
			>
			</mat-row>
			<ng-container *ngIf="!dataSource.data.length">
				<mat-footer-row *matFooterRowDef="['noData']"></mat-footer-row>
			</ng-container>
		</mat-table>
	</div>
	<mat-paginator
		*ngIf="isPagination"
		[hidePageSize]="dataSource.data.length < MAX_NUMBER_PAGES"
		showFirstLastButtons
		[pageSize]="MAX_NUMBER_PAGES"
		[disabled]="dataSource.data.length < MAX_NUMBER_PAGES"
	></mat-paginator>
</ng-container>
<ng-template #loader>
	<app-loader></app-loader>
</ng-template>
