@import 'mixins/common.mixin';

:host {
	--height-category-content: 17rem;

	.form-product {
		@include flex-column;
		padding: 1rem 0;
		width: 50rem;
	}

	.btn {
		margin-top: 1rem;

		&-upload {
			background: var(--content-secondary);
			color: var(--white);
		}

		&-add {
			position: relative;
			top: 2.8rem;
		}
	}

	.title-btn {
		margin-left: var(--margin-s);
	}

	.page-title {
		@include flex-space-between;
	}

	.content {
		display: flex;
		height: var(--height-category-content);

		.container-image {
			box-sizing: border-box;
			margin-left: var(--margin-l);

			img{
				@include box(15rem);
				border: solid 1px var(--third);
			}
		}
	};

	.wrapper-list {
		display: block;
		height: calc(100% - 4rem - var(--height-category-content));
	}

	.file-btn {
		display: none;
	}
}
