@import 'mixins/common.mixin';

:host {
	.container-list {
		max-height: calc(100% - 2*var(--padding-l) - 1rem);
		overflow: auto;
	}

	.container-empty {
		height: 10rem;
	}

	.container-empty {
		@include flex-centered;
	}

	.title {
		color: var(--content-active);
	}

	.btn-delete {
		transition: var(--app-transition);

		&:hover {
			background: var(--error);
			color: var(--white);
		}
	}

	.list-item {
		@include flex-space-between;
		align-items: center;
		border: var(--third) solid 2px;
		border-radius: var(--border-radius);
		color: var(--content-primary);
		margin-bottom: var(--margin-s);
		padding: var(--padding);

		&:hover {
			background-color: var(--white);
		}
	}
}
