$app-fonts: (
	font-size: 16px,
	default-font-size: 16px,
	mat-display-6-font-size: 1.5rem,
	mat-display-5-font-size: 2rem,
	mat-display-4-font-size: 4rem,
	mat-display-3-font-size: 3.5rem,
	mat-display-2-font-size: 3rem,
	mat-display-1-font-size: 2.5rem,
	mat-headline-font-size: 2rem,
	mat-title-font-size: 1.5rem,
	mat-subheading-2-font-size: 1rem,
	mat-subheading-1-font-size: 0.86rem,
	mat-body-2-font-size: 0.83rem,
	mat-body-1-font-size: 16px,
	mat-caption-font-size: 0.75rem,
	default-font-weight: 500,
)
