@use '../../../node_modules/@angular/material' as mat;
@import '@angular/material/theming';

$light-primary: mat.define-palette(mat.$purple-palette);
$light-accent: mat.define-palette(mat.$teal-palette);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);


$light-theme-colors: (
	bg: #f8f7fa,
	btn-hover: rgba(200, 200, 200, 0.2),
	primary: #de5867,
	secondary: #42424a,
	third: #e0e0e0,
	content-primary: #9c27b0,
	content-active: #5b2eac,
	content-secondary: #2780b0,
	content-third: #FCC230,
	medium-shadow: rgba(66, 66, 74, 0.5),
	medium-light-shadow: rgba(66, 66, 74, 0.3),
	light-shadow: rgba(90, 112, 140, 0.5),
	ultra-light-shadow: rgba(66, 66, 74, 0.15),
	light-gray: #c9cacd,
	ultra-light-gray: #eaedf1,
	error: #d2425c,
	warning: #f59a57,
	success: #3fc380,
	info: #3a539b,
	infor: hsl(50, 50%, 60%)
);
