<mat-form-field > 
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [disabled]="disable" [formGroup]="formGroup" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle [disabled]="disable" matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-icon matDatepickerToggleIcon (click)="formGroup.reset()">clear</mat-icon>
  <mat-date-range-picker  #picker></mat-date-range-picker>

  <mat-error *ngIf="formGroup.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="formGroup.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
